{% extends 'core_base.html' %} {% block content %}
<div class="col-sm-12">
  <div class="card">
    <div class="card-header"><h5>Account</h5></div>
    <div class="card-body">
      <ul
        class="nav nav-tabs profile-tabs mb-3 border-bottom"
        id="myTab"
        role="tablist"
      >
        <li class="nav-item" role="presentation">
          <a
            class="nav-link active"
            id="profile-tab-1"
            data-bs-toggle="tab"
            href="#profile-1"
            role="tab"
            aria-selected="true"
            >Profile</a
          >
        </li>
        <li class="nav-item" role="presentation">
          <a
            class="nav-link"
            id="profile-tab-2"
            data-bs-toggle="tab"
            href="#profile-2"
            role="tab"
            aria-selected="false"
            tabindex="-1"
            >Account & Cards</a
          >
        </li>
        <li class="nav-item" role="presentation">
          <a
            class="nav-link"
            id="profile-tab-3"
            data-bs-toggle="tab"
            href="#profile-3"
            role="tab"
            aria-selected="false"
            tabindex="-1"
            >Security</a
          >
        </li>
        <li class="nav-item" role="presentation">
          <a
            class="nav-link"
            id="profile-tab-4"
            data-bs-toggle="tab"
            href="#profile-4"
            role="tab"
            aria-selected="false"
            tabindex="-1"
            >Recent Transactions</a
          >
        </li>
      </ul>
      <div class="tab-content">
        <div
          class="tab-pane active show"
          id="profile-1"
          role="tabpanel"
          aria-labelledby="profile-tab-1"
        >
          <div class="row">
            <div class="col-md-4 col-xxl-3">
              <div class="card border">
                <div class="card-header"><h5>Profile Picture</h5></div>
                <div class="card-body text-center">
                  <img
                    {% if customer.profile_picture %} src="{{ customer.profile_picture.url }}" {% endif %}
                    alt="user-image"
                    class="img-fluid rounded-circle wid-100"
                  />
                  <!-- <small class="d-block my-3 text-muted"
                    >Upload/Change Your Profile Image</small
                  >
                  <button class="btn btn-primary">Upload Avatar</button> -->
                </div>
              </div>
            </div>
            <div class="col-md-8 col-xxl-9">
              <div class="card border">
                <div class="card-header"><h5>Customer ID: {{ customer.t24_customer_id }} </h5></div>
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="mb-3">
                        <label class="form-label">Name</label>
                        <input
                          type="text"
                          class="form-control"
                          value="{{ customer.user_account.fullname }}"
                          disabled
                        />
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="mb-3">
                        <label class="form-label">Email address</label>
                        <input
                          type="email"
                          class="form-control"
                          value="{{ customer.user_account.email }}"
                          disabled
                        />
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="mb-3">
                        <label class="form-label">Phone Number</label>
                        <input
                          type="text"
                          class="form-control"
                          value="{{ customer.user_account.phone_number }}"
                          disabled
                        />
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="mb-3">
                        <label class="form-label">Gender</label>
                        <input type="text" class="form-control" value="{{ customer.gender }}" disabled />
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="mb-3">
                        <label class="form-label">Date Of Birth</label>
                        <input
                          type="text"
                          class="form-control"
                          value="{{ customer.date_of_birth }}"
                          disabled
                        />
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="mb-3">
                        <label class="form-label">Nationality</label>
                        <input
                          type="text"
                          class="form-control"
                          value="{{ customer.nationality }}"
                          disabled
                        />
                      </div>
                    </div>
                    <div class="col-sm-12">
                      <button class="btn btn-primary">Change Details</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="tab-pane"
          id="profile-2"
          role="tabpanel"
          aria-labelledby="profile-tab-2"
        >


         <div class="row">

                   <div class="col-md-6">
           <div class="card border">
            <div class="card-header"><h5>Accounts</h5></div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Account Number</th>
                      <th>Account Name</th>
                      <th>Currency</th>
                      <th>Account Category</th>
                      <th>Status</th>
                    </tr>
                  </thead>
                  <tbody>

                    {% for bank_account in customer.user_account.bank_accounts.all %}
                    <tr>
                      <td>{{ forloop.counter }}</td>
                      <td>{{ bank_account.account_number }}</td>
                      <td>{{ bank_account.account_name }}</td>
                      <td>{{ bank_account.currency }}</td>
                      <td>{{ bank_account.account_category }}</td>
                      <td>
                        <span class="badge bg-light-success">Active</span>
                      </td>
                    </tr>
                    {% endfor %}

                  </tbody>
                </table>
              </div>
            </div>
          </div>
         </div>

          <div class="col-md-6">
           <div class="card border">
            <div class="card-header">
              <div class="row align-items-center">
                <div class="col-6"><h5>Cards</h5></div>
                <div class="col-6 text-end">
                  <!-- <button class="btn btn-primary">Upload Avatar</button> -->
                </div>
              </div>
            </div>
            <div class="card-body">
              <ul class="list-group list-group-flush">

                {% for card in customer.user_account.cards.all %}
                <li class="list-group-item px-0">
                  <div class="d-flex align-items-center">

                    <div class="flex-grow-1 mx-3">
                      <h5 class="mb-0">{{ card.card_scheme }}</h5>
                      <small class="text-muted mb-0"
                        >{{ card.card_number }}</small
                      >
                    </div>
                    <div class="flex-shrink-0">
                      <ul class="list-inline mb-0">
                        <li class="list-inline-item">
                          <a
                            href="#"
                            class="badge btn-light-primary rounded-pill text-base"
                            >{{ card.card_form }}</a
                          >
                        </li>

                      </ul>
                    </div>
                  </div>
                </li>
                {% endfor %}

              </ul>
            </div>
          </div>
         </div>


         </div>
        </div>
        <div
          class="tab-pane"
          id="profile-3"
          role="tabpanel"
          aria-labelledby="profile-tab-3"
        >
          <div class="row">

            <div class="col-md-4">
              <div class="card border">
                <div class="card-header"><h5>Password</h5></div>
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="mb-3">
                        <label class="form-label">Current password</label>
                        <input
                          type="password"
                          class="form-control"
                          placeholder="Current password"
                          value="{{ customer.user_account.password }}"
                          disabled
                        />
                      </div>
                    </div>

                    <div class="col-sm-12">
                      <button
            type="button"
            class="btn btn-info block"
            data-bs-toggle="modal"
            data-bs-target="#passwordResetLink"
            >Send Reset Link</button >

            <button
            type="button"
            class="btn btn-outline-primary block"
            data-bs-toggle="modal"
            data-bs-target="#temporaryPassword"
            >  Send Temporary Password</button >

                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card border">
                <div class="card-header"><h5>Secure PIN</h5></div>
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="mb-3">
                        <label class="form-label">Current PIN </label>
                        <input
                          type="password"
                          class="form-control"
                          placeholder="Current password"
                          value="{{ customer.user_account.secure_pin   }}"
                          disabled
                        />
                      </div>
                    </div>

                    <div class="col-sm-12">
                      <button

      type="button"
      class="btn btn-primary"
      data-bs-toggle="modal"
      data-bs-target="#pinResetLink"

      > Reset PIN </button>
                      <!-- <button class="btn btn-info">Send Reset Passwrd Link</button> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>

            {% if customer.user_account.deactivated_account %}
            <div class="col-md-4">
              <div class="card border">
                <div class="card-header"><h5>Activate Account </h5></div>
                <div class="card-body">
                  <p>
                    To activate this account, you are required to get approval.
                  </p>
                  <a class="btn btn-outline-success" href="{% url 'dashboard:customer-account-activation' customer.user_account.uuid %}">
                    Activate
                  </a>
                </div>
              </div>
            </div>
            {% else %}
            <div class="col-md-4">
              <div class="card border">
                <div class="card-header"><h5>Deactivate Account</h5></div>
                <div class="card-body">
                  <p>
                    To deactivate this account, you are required to get approval.
                  </p>
                  <a class="btn btn-outline-danger" href="{% url 'dashboard:customer-account-deactivation' customer.user_account.uuid %}">
                    Deactivate
                  </a>
                </div>
              </div>
            </div>
            {% endif %}



          </div>
        </div>
        <div
          class="tab-pane"
          id="profile-4"
          role="tabpanel"
          aria-labelledby="profile-tab-4"
        >


          <div class="p-4">

              <div class="table-responsive pt-4">
            <div class="col-sm-12">
              <table class="table table-striped table-hover dataTable">
                <thead>
                  <tr>
                    <th>#</th>
                    <th class="text-align-left">REF</th>
                    <th class="text-align-left">Debit Account</th>
                    <th class="text-align-left">Recipient Account</th>
                    <th>Amount</th>
                    <th>Status</th>
                    <th>Transfer Type</th>
                    <th class="text-align-right">Date</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  {% for transfer in recent_transactions %}
                  <tr style=" height: 10px !important;">
                    <td>{{ forloop.counter }}</td>
                    <td class="text-align-left">
                      {{ transfer.reference }} </a>
                    </td>
                    <td>{{ transfer.source_account }}</td>
                    <td>{{ transfer.recipient_account }}</td>
                    <td>STN {{ transfer.amount }}</td>
                    <td>
                        {% with status=transfer.status %}
                            {% include 'components/status.html' %}
                        {% endwith %}
                    </td>

                    <td>{{ transfer.transfer_type }}</td>
                    <td>{{ transfer.date_created }}</td>
                    <td>
                      <a href="{% url 'dashboard:transfer-requests-detail' transfer.uuid %}">View</a>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>

          </div>


        </div>
      </div>
    </div>
  </div>
</div>


<div
  class="modal fade text-left model-lg"
  id="pinResetLink"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel5"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="myModalLabel3">Confirm PIN Reset</h5>
        <button
          type="button"
          class="close rounded-pill"
          data-bs-dismiss="modal"
          aria-label="Close"
        >
          <i data-feather="x"></i>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to send PIN reset Link?</p>
        <br>
        <a class="btn btn-primary" href="{% url 'dashboard:send-pin-reset-link' customer.user_account.uuid %}">Send Link</a>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn" data-bs-dismiss="modal">
          <i class="bx bx-x d-block d-sm-none"></i>
          <span class="d-none d-sm-block">Close</span>
        </button>
      </div>
    </div>
  </div>
</div>



<div
  class="modal fade text-left model-lg"
  id="passwordResetLink"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel3"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="myModalLabel3">Confirm Password Reset</h5>
        <button
          type="button"
          class="close rounded-pill"
          data-bs-dismiss="modal"
          aria-label="Close"
        >
          <i data-feather="x"></i>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to send password reset Link?</p>
        <br>
        <a class="btn btn-primary" href="{% url 'dashboard:send-password-reset-link' customer.user_account.uuid %}">Send Link</a>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn" data-bs-dismiss="modal">
          <i class="bx bx-x d-block d-sm-none"></i>
          <span class="d-none d-sm-block">Close</span>
        </button>
      </div>
    </div>
  </div>
</div>


<div
  class="modal fade text-left model-lg"
  id="temporaryPassword"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel4"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="myModalLabel3">Confirm Temporary Password Reset</h5>
        <button
          type="button"
          class="close rounded-pill"
          data-bs-dismiss="modal"
          aria-label="Close"
        >
          <i data-feather="x"></i>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to send temporary password reset to this customer?</p>
        <br>
        <a class="btn btn-primary" href="{% url 'dashboard:send-temporary-password' customer.user_account.uuid %}">Send Temporary Password</a>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn" data-bs-dismiss="modal">
          <i class="bx bx-x d-block d-sm-none"></i>
          <span class="d-none d-sm-block">Close</span>
        </button>
      </div>
    </div>
  </div>
</div>



{% endblock content %}
